.spollers {
	font-size: rem(16);
	color: $main;
	@media (max-width: $mobile) {
		font-size: rem(14);
	}
	&__item {
		&:not(:last-child) {
			@media (max-width: em(530)) {
				.spollers__title {
					border-bottom: 1px solid #d9e4f8;
					&._spoller-active {
						border-bottom: none;
					}
				}
				.spollers__body {
					border-bottom: 1px solid #d9e4f8;
				}
			}
		}
	}
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		color: #799ee5;
		line-height: 160%;
		cursor: default;
		text-align: left;
		position: relative;
		@media (max-width: em(530)) {
			padding: rem(14) 0 rem(16);
			color: $main;
		}

		&._spoller-active {
			@media (max-width: em(530)) {
				color: #799ee5;
			}
		}

		._spoller-init & {
			cursor: pointer;

			&::after {
				content: "\e901";
				@extend %ic;
				font-size: rem(6);
				color: $main;
				transition: all 0.3s ease 0s;
			}

			&._spoller-active {
				&::after {
					transform: rotate(-180deg);
				}
			}
		}
	}
	&__body {
		position: relative;
		z-index: 2;
		@media (max-width: em(530)) {
			padding-bottom: rem(16);
		}
		a {
			display: block;
			line-height: 160%;
		}
	}
}
