@use "sass:math";

@import "base/mixins";
@import "fonts";
@import "icons";

$fontFamily: "GolosText";
$fontSize: rem(16);

$mainColor: #111;
$mainLightColor: #fff;
$blue: #0048ce;
$main: $blue;

$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1280;
$containerPadding: 48;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

@import "base/reset";

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    > main {
        flex: 1 1 auto;
    }

    > * {
        min-width: 0;
    }
}

.lock {
    overflow: hidden;
}

// Ограничивающий контейнер
@if ($responsiveType==1) {
    // Отзывчивая
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
            margin: 0 auto;
        }

        @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
} @else {
    // По брейк-поинтам
    [class*="__container"] {
        margin: 0 auto;

        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }

        @media (max-width: $pc) {
            max-width: rem(970);
        }

        @media (max-width: $tablet) {
            max-width: rem(750);
        }

        @media (max-width: $mobile) {
            max-width: none;

            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}

@import "base/base";
@import "base/spollers";

@import "common";

@import "header";
@import "footer";

@import "index";
